
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:  url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.container {
  width: 1200px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  display:flex;
  list-style: none;
  height: 66px;
  margin: 0 70px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
  list-style: none;
}

.navigation-user{
  min-width: 16px;
  min-height: 22px;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  list-style: none;
  }

.navigation-item-search {
  color: #000000;
  background-repeat: no-repeat;
}

.navigation-item-favorites {
  color: #000000;
  background-repeat: no-repeat;
}

 .navigation-link-want-here {
  margin-top: 14px;
  padding: 0;
}

.want-here {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #756157;
  color: #ffffff;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  text-transform: uppercase;
}

.main-index {
  list-style: none;
  color: #000000;
  margin-bottom: 20px;
}

.cover {
 color: #000000;
 background-color: #ffffff;
 background-image: url("../images/logo.jpg");
 background-size: 100%;
 background-repeat: no-repeat;
 text-align: center;
 height: 485px;
 width: 1200px;
 margin-bottom: 63px;
}

.main-index-sity {
  margin-top: 51px;
}

.caption {
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.caption-headline {
  text-transform: uppercase;
  margin-bottom: 31px;
}

.caption-subtitle {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  text-transform: none;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  list-style: none;
}

.advantages-caption {
  flex-grow: 1;
  padding-top: 92px;
}

.advantages-title-attraction {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description{
  font-size: 18px;
  line-height: 21px;
}


.advantages-description-white{
  color: #ffffff;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 81px;
}

.advantages-item-food {
  background-color: #ffffff;
  padding-top: 81px;
    padding-bottom: 81px;
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
  padding-top: 81px;
  padding-bottom: 81px;
}

.advantages-item-wide {
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  width: 100%;
  padding-top: 0;
}

.advantages-item-odd{
 flex-direction: row-reverse;
}

.advantages-diablo {
  padding-top: 0;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 91px;
  margin-bottom: 29px;
}

.services-title-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  font-style: normal;
  margin-bottom: 56px;
 }

.button-search {
  font-family: 'PT Sans';
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #756157;
  color: #ffffff;
  font-weight: 700px;
  font-size: 20px;
  line-height: 36px;
  width: 574px;
  height: 60px;
  border-radius: 4px;
  margin: 0 auto;
  justify-content: center;
  border: none;
  margin-bottom: 93px;
}

.newsletter {
  background-image: url("../images/background.jpg");
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  width: 1200px;
  height: 411px;
  justify-content: center;
  background-repeat: no-repeat;
}

.newsletter-interest{
  height: 411px;
}

.newsletter-title {
  display: flex;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  margin-bottom: 29px;
  padding-top: 94px;
}

.newsletter-subtitle{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  justify-content: center;
  margin-bottom: 46px;
  margin-top: 29px;
}

.newsletter-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 45px auto 94px;
  margin-left: 200px;
  }

.field {
  min-width: 600px;
  height: 60px;
  margin: 0;
  padding: 20px 0 19px 22px;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  border: 0;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  font-family: inherit;
  background: #f2f2f2;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  background: #82B3D3;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 60px;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
  border: none;
}

.footer-social {
  display: flex;
}

.footer-social-list {
  display: flex;
  width: 200px;
  margin-right: 52px;
  text-align: center;
  align-items: center;
  height: 17px;
  padding: 0px;
  gap: 26px;
  color: #000000;
  list-style: none;
  margin-bottom: 54px;
  margin-top: 49px;
  margin-left: 72px;
}

.button-social {
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
  color: #83B3D3;
  display: block;
}

.button-social-vkontakte {
  background-image: url("../images/vkontakte.svg");
}

.button-social-telegramm {
  background-image: url("../images/telegram.svg");
}

.button-social-youtube{
  background-image: url("../images/youtube.svg");
}

.footer-phone {
  display: flex;
  justify-content: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 40px;
  line-height: 40px;
  height: 50px;
  width: 720px;
  text-decoration: none;
  margin-bottom: 30px;
  margin-right: 53px;
}

.phone {
   color: #000000;
   text-decoration: none;
   margin-bottom: 35px;
   margin-top: 45px;
}

.footer-item {
  display: flex;
  width: 115px;
  margin-left: 53px;
  margin-right: 72px;
  margin-top: 43px;
  margin-bottom: 43px;
}

.footer-logo {
  background-repeat: no-repeat;
}

.main-inner{
  list-style: none;
}

.inner-header-filter {
  background-image: url("../images/catalog-background.jpg");
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 35px 70px 70px;
}

.inner-header{
  display: flex;
  width: 500px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
}

.inner-header-title {
  line-height: 78px;
  font-size: 60px;
  color: #ffffff;
  text-transform: none;
  list-style: none;
  margin-left: 70px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width: 110px;
  height: 21px;
  gap: 10px;
  color: #ffffff;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  line-height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  width: 73px;
  height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-products{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  width: 1199px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 1059px;
  gap: 40px;
  flex-grow: 0;
  margin: 0;
  padding: 0;
}

.catalog-filter-group{
  display: flex;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  border: none;
  color: #ffffff;
}

.filter-group-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  gap: 70px;
}

.catalog-filter-price {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: 175px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
}

.control-input {
  margin-bottom: 15px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-view {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-type {
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.catalog-filter-price {
  border: none;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button-filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 160px;
  padding: 14px 15px;
  border: none;
  margin: 60px 0 20px 70px;
}

.button-submit {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
    align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  color: #ffffff;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  justify-content: center;
  border: none;
  margin-bottom: 20px;
}

.button-reset {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.sorting-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'PT Sans', sans-serif;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: 54px;
  margin-bottom: 60px;
  margin-left: 72px;
  margin-right: 71px;
  width: 1057px;
  height: 48px;
}

.inner-title-header{
  margin-top: 62px;
  margin: 0;
  margin-right: 191px;
}

.inner-header-catalog{
  font-family: 'PT Sans', sans-serif;
  border: none;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 70px;
}

.select-control {
  width: 287px;
  height: 48px;
  margin-right: 81px;
}

.breadcrumb-view {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  gap: 8px;
  width: 160px;
  height: 48px;
  list-style: none;
  margin-right: 71px;
}

.breadcrumb-switcer {
  width: 160px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.breadcrumb-cards {
  background-image: url("../images/View.svg");
  width: 48px;
  height: 48px;
}

.breadcrumb-list {
  background-image: url("../images/View2.svg");
  width: 48px;
  height: 48px;
}

.breadcrumb-alone {
  background-image: url("../images/View3.svg");
  width: 48px;
  height: 48px;
}

.select-sorting{
  width: 1200px;
}

.hotel {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  gap: 16px;
}

.product-class {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  align-content: flex-start;
  margin-bottom: 16px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.product-card-price {
  width: 143px;
  height: 21px;
  color: #333333;
  margin-top: 16px;
}

.hotel-info{
  display: flex;
  width: 300px;
  margin: 0 auto 16px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0;
  gap: 25px;
}

.navigation-link-more {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #756157;
  color: #ffffff;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  justify-content: center;
  border: none;
  text-decoration: none;
  display: block
}

.button-favorites {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  color: #ffffff;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  justify-content: center;
  border: none;
  margin: 0;
  padding: 0;
}

.hotel-favorites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.button-favorites-like {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #7DB54F;
  color: #ffffff;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  justify-content: center;
  border: none;
}

.hotel-raiting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 300px;
  height: 37px;
  margin: 0;
  margin-top: 16px;
}

.star-raiting {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  width: 140px;
  height: 37px;
  color: #ffffff;
}

.product-raiting {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #F2F2F2;
  color: #333333;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 37px;
  border-radius: 4px;
  justify-content: center;
  border: none
}

.pagination-container {
  display: flex;
  align-items: center;
}


.pagination {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  list-style: none;
  margin-left: 73px;
  margin-right: 300px;
}

.pagination-link {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  color: #ffffff;
  font-weight: 700px;
  font-size: 20px;
  line-height: 36px;
  width: 55px;
  height: 55px;
  border-radius: 4px;
  margin: 0 auto;
  justify-content: center;
  border: none;
  text-decoration: none;
}

.pagination-active{
  color: #000000;
  background-color: #F2F2F2;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

.sorting-quantity {
  display: flex;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 51px;
}

.sorting-select {
  width: 160px;
  height: 48px;
}

.newsletter-spam {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  width: 1200px;
  height: 411px;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.newsletter-catalog-title {
  display: flex;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 29px;
}

.newsletter-catalog-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000
  font-style: normal;
  justify-content: center;
  margin-bottom: 46px;
  margin-top: 29px;
}

