
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:  url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.conteiner {
  width: 1200px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}

.page-header {
  color: #000000;
  background: #ffffff;
  display:flex;
  list-style: none;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  list-style: none;
  }

.navigation-item-search {
  background-image: url("../images/search.svg");
  color: #000000;
  line-height: 66px;
  background-repeat: no-repeat;
  }


.navigation-item-favorites {
  background-image: url("../images/favorite.svg");
  line-height: 17px;
  width: 18px;
  color: #000000;
  background-color: #82B3D3;
  background-repeat: no-repeat;
 }

.want-here {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #756157;
  color: #ffffff;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  text-transform: uppercase;
}

.cover {
 color: #000000;
 background-color: #ffffff;
 background-image: url("../images/logo.jpg");
 background-size: 100%;
 background-repeat: no-repeat;
 text-align: center;
 height: 485px;
 width: 1200px;
}

.caption {
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

h2 {
  color: #000000;
  text-transform: uppercase;
}

p {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  text-transform: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  }

.advantages-list{
  width: 100%;
  background-color: #ffffff;
}

div{
flex-grow: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description{
  font-size: 18px;
  line-height: 21px;
  weight: 400;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-food {
  background-color: #ffffff;
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-wide {
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  width: 100%;
}

.advantages-item-odd{
 flex-direction: row-reverse;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}

.services-title-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  font-style: normal;
 }

.button-search {
  font-family: 'PT Sans';
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #756157;
  color: #ffffff;
  font-weight: 700px;
  font-size: 20px;
  line-height: 36px;
  width: 574px;
  height: 60px;
  border-radius: 4px;
  margin: 0 auto;
  justify-content: center;
  border: none
}

.newsletter {
  background-image: url("../images/background.jpg");
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  width: 1200px;
  height: 411px;
  justify-content: center;
  }

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
}

.newsletter-subtitle{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  justify-content: center;
}

.newsletter-button {
  display: flex
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0 auto;
  justify-content: center;
  background: #82B3D3;
  border: none
  }

.footer-social {
  width: 1200px;
  height: 120px;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
    text-align: center;
    display: flex;
    align-items: center;
    width: 116px;
    height: 17px;
    padding: 0px;
    gap: 26px;
    color: #000000;
}

.button-social {
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
  color: #83B3D3;
  display: block;
}

.button-social-vkontakte {
  background-image: url("../images/vkontakte.svg");
}

.button-social-telegramm {
  background-image: url("../images/telegram.svg");
}

.button-social-youtube{
  background-image: url("../images/youtube.svg");
}

.newsletter-phone {
  width: 720px;
  height: 50px;
}

.phone {
  display: flex;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  }

.footer-item {
  width: 115px;
  height: 34px;
  right: 72px;
}

.footer-item-logo {
  background-image: url("../images/html1logo.svg");

}
